body {
  background-color: #b2c4b4;
}

.jumbotron {
  background-color: #95ad97;
  text-align: center;
}

#orderHeader {
  text-align: center;
}

.containerbody {
  margin-top: 40px;
}

#your-order, .total {
  display: none;
}

#finalPizza {
  text-align: center;
  margin-top: 100px;
}


.containerfooter{
  background-color: #95ad97;

}
